/**
 * CSS style for indexoutofbounds.com
 * 
 * @author Travis Meisenheimer
 */ 

body { 
  margin: 0;
  padding: 0;
  font-family:helvetica, verdana, sans-serif;
  font-size: 10pt;
  color: black;
  background: white; 
}

img {
  border: 0px;
}

h1 {
  font-size: 1.4em; font-weight: bold;
}

h2 {
  font-size: 1.2em; font-weight: bold;
}

h3 {
  font-size: 1.1em; font-weight: bold;
}

p {
  font-size: 1.0em;
  line-height: 1.2em;
  margin: 1.0em 0em 1.0em 0em;
}

a:link {
  color:#002953; 
  text-decoration:underline; 
}

a:visited { color:#002953;
  text-decoration: underline; 
}

a:active { color:#002953; 
  text-decoration: underline; 
}

a:hover { color:#002953; 
  text-decoration: none; 
}

#container {
  margin-left: 20px;
  margin-top: 20px;
}

#header img {
 width: 375px;
 height: 75px;
 margin-top: 10px;
}

#content {
  float: left;
  width: 650px;
}

#footer {
  float: left;
  width: 650px;
  font-size: 9px;
}
